<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="./css/medium.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<link rel="icon" href="https://miro.medium.com/v2/1*m-R_BkNf1Qjr1YbyOIJY2w.png">
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Spectral:wght@400;600;700&display=swap"
      rel="stylesheet"
    /><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Medium</title>
  </head>
  <body>
    <!-- nav start -->
    <div class="bg-yellow border-bottom-dark py-2 order-sm-10">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light ">
          <svg
            style="width: 141px; height: 35px"
            viewBox="0 0 3940 610"
            class="bo bp navbar-brand"
          >
            <path
              d="M594.79 308.2c0 163.76-131.85 296.52-294.5 296.52S5.8 472 5.8 308.2 137.65 11.69 300.29 11.69s294.5 132.75 294.5 296.51M917.86 308.2c0 154.16-65.93 279.12-147.25 279.12s-147.25-125-147.25-279.12S689.29 29.08 770.61 29.08s147.25 125 147.25 279.12M1050 308.2c0 138.12-23.19 250.08-51.79 250.08s-51.79-112-51.79-250.08 23.19-250.08 51.8-250.08S1050 170.09 1050 308.2M1862.77 37.4l.82-.18v-6.35h-167.48l-155.51 365.5-155.51-365.5h-180.48v6.35l.81.18c30.57 6.9 46.09 17.19 46.09 54.3v434.45c0 37.11-15.58 47.4-46.15 54.3l-.81.18V587H1327v-6.35l-.81-.18c-30.57-6.9-46.09-17.19-46.09-54.3V116.9L1479.87 587h11.33l205.59-483.21V536.9c-2.62 29.31-18 38.36-45.68 44.61l-.82.19v6.3h213.3v-6.3l-.82-.19c-27.71-6.25-43.46-15.3-46.08-44.61l-.14-445.2h.14c0-37.11 15.52-47.4 46.08-54.3m97.43 287.8c3.49-78.06 31.52-134.4 78.56-135.37 14.51.24 26.68 5 36.14 14.16 20.1 19.51 29.55 60.28 28.09 121.21zm-2.11 22h250v-1.05c-.71-59.69-18-106.12-51.34-138-28.82-27.55-71.49-42.71-116.31-42.71h-1c-23.26 0-51.79 5.64-72.09 15.86-23.11 10.7-43.49 26.7-60.45 47.7-27.3 33.83-43.84 79.55-47.86 130.93-.13 1.54-.24 3.08-.35 4.62s-.18 2.92-.25 4.39a332.64 332.64 0 0 0-.36 21.69C1860.79 507 1923.65 600 2035.3 600c98 0 155.07-71.64 169.3-167.8l-7.19-2.53c-25 51.68-69.9 83-121 79.18-69.76-5.22-123.2-75.95-118.35-161.63m532.69 157.68c-8.2 19.45-25.31 30.15-48.24 30.15s-43.89-15.74-58.78-44.34c-16-30.7-24.42-74.1-24.42-125.51 0-107 33.28-176.21 84.79-176.21 21.57 0 38.55 10.7 46.65 29.37zm165.84 76.28c-30.57-7.23-46.09-18-46.09-57V5.28L2424.77 60v6.7l1.14-.09c25.62-2.07 43 1.47 53.09 10.79 7.9 7.3 11.75 18.5 11.75 34.26v71.14c-18.31-11.69-40.09-17.38-66.52-17.38-53.6 0-102.59 22.57-137.92 63.56-36.83 42.72-56.3 101.1-56.3 168.81C2230 518.72 2289.53 600 2378.13 600c51.83 0 93.53-28.4 112.62-76.3V588h166.65v-6.66zm159.29-505.33c0-37.76-28.47-66.24-66.24-66.24-37.59 0-67 29.1-67 66.24s29.44 66.24 67 66.24c37.77 0 66.24-28.48 66.24-66.24m43.84 505.33c-30.57-7.23-46.09-18-46.09-57h-.13V166.65l-166.66 47.85v6.5l1 .09c36.06 3.21 45.93 15.63 45.93 57.77V588h166.8v-6.66zm427.05 0c-30.57-7.23-46.09-18-46.09-57V166.65L3082 212.92v6.52l.94.1c29.48 3.1 38 16.23 38 58.56v226c-9.83 19.45-28.27 31-50.61 31.78-36.23 0-56.18-24.47-56.18-68.9V166.66l-166.66 47.85V221l1 .09c36.06 3.2 45.94 15.62 45.94 57.77v191.27a214.48 214.48 0 0 0 3.47 39.82l3 13.05c14.11 50.56 51.08 77 109 77 49.06 0 92.06-30.37 111-77.89v66h166.66v-6.66zM3934.2 588v-6.67l-.81-.19c-33.17-7.65-46.09-22.07-46.09-51.43v-243.2c0-75.83-42.59-121.09-113.93-121.09-52 0-95.85 30.05-112.73 76.86-13.41-49.6-52-76.86-109.06-76.86-50.12 0-89.4 26.45-106.25 71.13v-69.87l-166.66 45.89v6.54l1 .09c35.63 3.16 45.93 15.94 45.93 57V588h155.5v-6.66l-.82-.2c-26.46-6.22-35-17.56-35-46.66V255.72c7-16.35 21.11-35.72 49-35.72 34.64 0 52.2 24 52.2 71.28V588h155.54v-6.66l-.82-.2c-26.46-6.22-35-17.56-35-46.66v-248a160.45 160.45 0 0 0-2.2-27.68c7.42-17.77 22.34-38.8 51.37-38.8 35.13 0 52.2 23.31 52.2 71.28V588z"
            ></path>
          </svg>

          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item mt-1">
                <a class="nav-link active" href="#">Our Story </a>
              </li>
              <li class="nav-item mt-1">
                <a class="nav-link active" href="#">Membership</a>
              </li>
              <li class="nav-item mt-1">
                <a class="nav-link active" href="#">Write</a>
              </li>
              <li class="nav-item mt-1">
                <a class="nav-link active" href="#">Sign In</a>
              </li>
              <li class="nav-item mt-1">
                <a
                  class="nav-link btn px-3 py-2 text-light ml-3 border-r-4"
                  style="background-color: #191919; font-size: 14px"
                  href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                  >Get Started</a
                >

              <!-- Modal -->
              <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog shadow">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5 text-center" id="staticBackdropLabel">Join Medium.
                      </h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body p-5 text-center">
                      <form>               
                                                        
                          <a href="/auth/google" class="google-auth text-decoration-none mx-1">
                            <div class="google-wrap"><svg width="25" height="25" class="gs ah"><g fill="none" fill-rule="evenodd"><path d="M20.66 12.7c0-.61-.05-1.19-.15-1.74H12.5v3.28h4.58a3.91 3.91 0 0 1-1.7 2.57v2.13h2.74a8.27 8.27 0 0 0 2.54-6.24z" fill="#4285F4"></path><path d="M12.5 21a8.1 8.1 0 0 0 5.63-2.06l-2.75-2.13a5.1 5.1 0 0 1-2.88.8 5.06 5.06 0 0 1-4.76-3.5H4.9v2.2A8.5 8.5 0 0 0 12.5 21z" fill="#34A853"></path><path d="M7.74 14.12a5.11 5.11 0 0 1 0-3.23v-2.2H4.9A8.49 8.49 0 0 0 4 12.5c0 1.37.33 2.67.9 3.82l2.84-2.2z" fill="#FBBC05"></path><path d="M12.5 7.38a4.6 4.6 0 0 1 3.25 1.27l2.44-2.44A8.17 8.17 0 0 0 12.5 4a8.5 8.5 0 0 0-7.6 4.68l2.84 2.2a5.06 5.06 0 0 1 4.76-3.5z" fill="#EA4335"></path></g></svg>
                              <span >Sign up with Google</span></div>
                          </a>
                      
                                               
                          <a href="/auth/github" class="google-auth text-decoration-none mx-1 mt-3">
                            <div class="google-wrap">
                              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="none" viewBox="0 0 16 16" aria-hidden="true" class="!tw-fill-current tw-mr-2 tw-text-black dark:tw-text-white"><path fill="#fff" fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0Z" clip-rule="evenodd"></path><path fill="#1B1F23" fill-rule="evenodd" d="M8 1a7 7 0 0 0-2.21 13.64c.35.06.47-.15.47-.34v-1.19c-1.95.42-2.36-.94-2.36-.94-.32-.8-.78-1.02-.78-1.02-.64-.44.05-.43.05-.43.7.05 1.07.72 1.07.72.62 1.07 1.64.76 2.04.59.06-.46.24-.76.44-.94-1.55-.18-3.19-.78-3.19-3.46 0-.76.28-1.39.72-1.88-.07-.17-.3-.88.07-1.85 0 0 .59-.19 1.93.72a6.7 6.7 0 0 1 3.5 0c1.34-.9 1.93-.72 1.93-.72.38.97.14 1.68.07 1.85.44.5.72 1.12.72 1.88 0 2.69-1.64 3.28-3.2 3.45.25.22.47.65.47 1.3v1.92c0 .19.12.4.48.34A7 7 0 0 0 8 1" clip-rule="evenodd"></path></svg>
                              <span >Sign up with Github</span></div>
                          </a>

                          <p class="mt-5">Already have an account? <a  class="text-decoration-none font-weight-bold text-success" href="#">Sign in</a></p>
                        </div>
                      </form>
                    </div>
                  
                  </div>
                </div>

                <!-- Modal 2 -->
                <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog shadow">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5 text-center" id="staticBackdropLabel">Welcome back.
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body p-5 text-center">
                        <form>               
                                                          
                            <a href="/auth/google" class="google-auth text-decoration-none mx-1">
                              <div class="google-wrap"><svg width="25" height="25" class="gs ah"><g fill="none" fill-rule="evenodd"><path d="M20.66 12.7c0-.61-.05-1.19-.15-1.74H12.5v3.28h4.58a3.91 3.91 0 0 1-1.7 2.57v2.13h2.74a8.27 8.27 0 0 0 2.54-6.24z" fill="#4285F4"></path><path d="M12.5 21a8.1 8.1 0 0 0 5.63-2.06l-2.75-2.13a5.1 5.1 0 0 1-2.88.8 5.06 5.06 0 0 1-4.76-3.5H4.9v2.2A8.5 8.5 0 0 0 12.5 21z" fill="#34A853"></path><path d="M7.74 14.12a5.11 5.11 0 0 1 0-3.23v-2.2H4.9A8.49 8.49 0 0 0 4 12.5c0 1.37.33 2.67.9 3.82l2.84-2.2z" fill="#FBBC05"></path><path d="M12.5 7.38a4.6 4.6 0 0 1 3.25 1.27l2.44-2.44A8.17 8.17 0 0 0 12.5 4a8.5 8.5 0 0 0-7.6 4.68l2.84 2.2a5.06 5.06 0 0 1 4.76-3.5z" fill="#EA4335"></path></g></svg>
                                <span >Sign up with Google</span></div>
                            </a>
                        
                                                 
                            <a href="/auth/github" class="google-auth text-decoration-none mx-1 mt-3">
                              <div class="google-wrap">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="none" viewBox="0 0 16 16" aria-hidden="true" class="!tw-fill-current tw-mr-2 tw-text-black dark:tw-text-white"><path fill="#fff" fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0Z" clip-rule="evenodd"></path><path fill="#1B1F23" fill-rule="evenodd" d="M8 1a7 7 0 0 0-2.21 13.64c.35.06.47-.15.47-.34v-1.19c-1.95.42-2.36-.94-2.36-.94-.32-.8-.78-1.02-.78-1.02-.64-.44.05-.43.05-.43.7.05 1.07.72 1.07.72.62 1.07 1.64.76 2.04.59.06-.46.24-.76.44-.94-1.55-.18-3.19-.78-3.19-3.46 0-.76.28-1.39.72-1.88-.07-.17-.3-.88.07-1.85 0 0 .59-.19 1.93.72a6.7 6.7 0 0 1 3.5 0c1.34-.9 1.93-.72 1.93-.72.38.97.14 1.68.07 1.85.44.5.72 1.12.72 1.88 0 2.69-1.64 3.28-3.2 3.45.25.22.47.65.47 1.3v1.92c0 .19.12.4.48.34A7 7 0 0 0 8 1" clip-rule="evenodd"></path></svg>
                                <span >Sign up with Github</span></div>
                            </a>
  
                            <p class="mt-5">Already have an account? <a  class="text-decoration-none font-weight-bold text-success" href="#">Sign in</a></p>
                          </div>
                        </form>
                      </div>
                    
                    </div>
                  </div>
              </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <!-- nav end -->

    <!-- jumbobox start -->
    <div class="bg-yellow pt-4 pb-1 border-bottom-dark order-sm-9">
      <div class="container py-2">
        <div class="row">
          <div class="col-sm-6 pt-2">
            <h1 class="font-spectral">
              <strong>Explore new perspectives</strong>
            </h1>
            <p class="my-4 lead" style="font-size: 18px">
              <strong>
                Read and share ideas from independent voices, world-class
                publications, and experts from around the globe. Everyone's
                welcome.
              </strong>

              <a href="#" class="text-dark"><u>Learn more.</u></a>
            </p>
            <a
              href="#"
              class="btn btn-outline-dark px-3 hover-dark"
              style="font-size: 16px"
              >Get Started</a
            >
          </div>
          <div class="col-sm-6 pl-5 d-none d-sm-block">
            <img
              class="rounded-circle "
              src="./img/world.png"
              alt="world map"
             
            />
          </div>
        </div>
      </div>
    </div>
    <!-- jumbobox end-->

    <!-- trending section start -->
    <div class="border-bottom pb-4 order-sm-8">
        <div class="container mt-5 ">
            <div class="row">
              <div class="col-12">
                <p>
                  <i class="fas fa-rocket"></i>
                  <strong class="ml-2">TRENDING ON MEDIUM</strong>
                </p>
              </div>
            </div>
      
            <div class="row gx-3">
              <% for(post of posts) { %>
                <div class="col-sm-4" style="cursor: pointer;">
                  <div class="row">
                    <div class="col-sm-2 col-2">
                        <!-- <h3 class="text-black-50 ">
                          0<% let postLeng = posts.length
                          let count = 0;
                          for(let i = 1; i <= postLeng; i++) {%>
                            <%= i %>
                            <% } %> </h3> -->
                    </div>
                    <div class="col-sm-10 col-10">
                      <div class="row mt-1">
                        <div class="col-sm-2 col-1 mr-1 mr-sm-0">
                          <img
										  src="<%= post.avatar %>"
										  width="25"
										  height="25"
										  class="rounded-circle"
										  alt=""
										  srcset=""
										/>
                        </div>
                        <div class="col-sm-10 col-10 pt-1 ">
                          <h5 class="post-title"><%= post.title  %></strong></h5>
                        </div>
                      </div>
                      <p class="post-desc">
                        <%= post.body %>
        
                      </p>
                      <ul class="list-inline small text-black-50 mt-2 ">
                        <li class="list-inline-item">Mar 12</li>
                        <li class="list-inline-item">	&#8226</li>
                        <li class="list-inline-item">3 Min Read</li>
                        <li class="list-inline-item"><i class="fas fa-star bg-color-secondary"></i></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <% } %>
                             
            </div>
          </div>
    </div>
    <!-- trending section end -->

    <!-- articles section start -->
    <div class="container mt-5">
			<div class="row">
				<!-- left side start -->
				<div class="col-sm-7 col-7 order-2 order-sm-1 ml-5 ml-sm-0">
						
					<% for(post of posts) {%>
						<div class="row  mt-3 mt-sm-2">
							<div class="col-sm-8 col-8">
								<div class="row ">
									<div class="col-sm-1 col-1 mt-1">
										<img
										  src="<%= post.avatar %>"
										  width="25"
										  height="25"
										  class="rounded-circle"
										  alt=""
										  srcset=""
										/>
									  </div>
									  <div class="col-sm-5 col-6 pl-4  pt-sm-1 pl-sm-3">
										<p class="post-author"><%= post.first_name + ' ' + post.last_name %> </p>

										
									  </div>
								</div>
								<div class="mt-1">
									<h5 class="post-title"><strong> <%= post.title %> </strong></h5>
								</div>
								<div>
									<h6 class='post-desc d-none d-sm-block'>
									  <%= post.body %>
									</h6>
								</div>
								<div class="row text-black-50 mt-2 pt-1 ">
									<ul class="list-inline small col-sm-10 d-none d-sm-block">
										<li class="list-inline-item">Mar 12</li>
										<li class="list-inline-item">	&#8226</li>
										<li class="list-inline-item">3 Min Read</li>
									</ul>
									<div class="col-sm-2 pl-4 d-none d-sm-block">
										<i class="far fa-bookmark fa-lg"></i>
									</div>
								</div>
							</div>
							<div class="col-sm-3 col-2 ">
								<img width="112" height="112" src= "http://localhost:5000/uploads/<%= post.image %>" />
							</div>
						</div>
					<% } %>
				
				</div>
				<!-- left side end -->
	
				<!-- right side start-->
				<div class="col-sm-5 order-1 order-sm-2">
					<h6 class="ml-5"> <small><strong>DISCOVER MORE OF WHAT MATTERS TO YOU</strong></small>
					</h6>
					<ul class="list-inline ml-5 mt-3">
						<li class="list-inline-item mt-1">
							<a href="#" class="btn btn-sm btn-outline-secondary hover-dark ">Self</a>
						</li>
						<li class="list-inline-item">
							<a href="#" class="btn btn-sm btn-outline-secondary hover-dark">Programming</a>
						</li>
						<li class="list-inline-item">
							<a href="#" class="btn btn-sm btn-outline-secondary hover-dark">Data Science</a>
						</li>
						<li class="list-inline-item">
							<a href="#" class="btn btn-sm btn-outline-secondary hover-dark">Productivy</a>
						</li>
						<li class="list-inline-item mt-2">
							<a href="#" class="btn btn-sm btn-outline-secondary hover-dark">Software</a>
						</li>
						<li class="list-inline-item mt-2">
							<a href="#" class="btn btn-sm btn-outline-secondary hover-dark">Web Development</a>
						</li>
						<li class="list-inline-item mt-2">
							<a href="#" class="btn btn-sm btn-outline-secondary hover-dark">Politics</a>
						</li>
						<li class="list-inline-item mt-2">
							<a href="#" class="btn btn-sm btn-outline-secondary hover-dark">JavaScript</a>
						</li>
						<li class="list-inline-item mt-2">
							<a href="#" class="btn btn-sm btn-outline-secondary hover-dark">Machine Learning</a>
						</li>
						<li class="list-inline-item mt-2">
							<a href="#" class="btn btn-sm btn-outline-secondary hover-dark">Health</a>
						</li>
						<li class="list-inline-item mt-2">
							<a href="#" class="btn btn-sm btn-outline-secondary hover-dark">Fashion</a>
						</li>
					  </ul>
					  <div>
						<h6 class="ml-5 text-success p-1 pb-4 border-bottom "> <small>See all topics.</small>
						</h6>
					  </div>
				</div>
				 <!-- right side end -->
			</div>
		</div>
     <!-- articles section end-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

  </body>
</html>
